* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%
}

#root {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000d9;
}

.audio {
  visibility: hidden;
}

.loading {
  color: white;
}

.time {
  font-size: 200px;
  font-weight: bolder;
  color: white;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}